---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "2024 - Actualmente...",
    title: "Senior Full-Stack Developer",
    company: "Capitole consulting",
    description:
      "Diseño y desarrollo de sistemas de gestión empresarial, consultoría y asesoramiento.",
    link: "https://capitole-consulting.com/es/",
  },
  {
    date: "2016 - 2024",
    title: "Programador informático - IT",
    company: "Logisfashion",
    description:
      "Diseño, desarrollo y puesta en marcha de sistemas destinados a la gestión logística de ambito global. ",
    link: "https://logisfashion.com",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
